<div class="header-wrapper">
    <div class="header-container">
         <h3>Transaction History</h3>
    </div>
</div>
<table mat-table
       [dataSource]="dataSource"
       matSort
       class="mat-elevation-z8">

  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      ID
    </th>
    <td mat-cell *matCellDef="let borrow">
      {{ borrow.id }}
    </td>
  </ng-container>

  <!-- User ID -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      User ID
    </th>
    <td mat-cell *matCellDef="let borrow">
      {{ borrow.userId }}
    </td>
  </ng-container>

  <!-- Book ID -->
  <ng-container matColumnDef="bookId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Book ID
    </th>
    <td mat-cell *matCellDef="let borrow">
      {{ borrow.bookId }}
    </td>
  </ng-container>

   <!-- Quantity -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Quantity
    </th>
    <td mat-cell *matCellDef="let borrow">
      {{ borrow.quantity }}
    </td>
  </ng-container>

  <!-- Borrow Date -->
  <ng-container matColumnDef="borrowDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Borrow Date
    </th>
    <td mat-cell *matCellDef="let borrow">
      {{ borrow.borrowDate | date:'dd/MM/yyyy HH:mm' }}
    </td>
  </ng-container>

  <!-- Return Date -->
  <ng-container matColumnDef="returnDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Return Date
    </th>
    <td mat-cell *matCellDef="let borrow">
      {{ borrow.returnDate | date:'dd/MM/yyyy HH:mm' }}
    </td>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Status
    </th>
    <td mat-cell *matCellDef="let borrow">

      <span [ngClass]="borrow.status.toLowerCase()">
        {{ borrow.status }}

      </span>

    </td>
  </ng-container>

        <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>

    <td mat-cell *matCellDef="let borrow">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        @if(borrow.status == "REQUESTED" ){
          <button
            mat-menu-item
            (click)="requestUpdate(borrow, borrowStatus.APPROVED)"
            >
            <span>Approve Request</span>
          </button>
        }

        @if(borrow.status == "REQUESTED"){
          <button
          mat-menu-item
          (click)="requestUpdate(borrow, borrowStatus.REJECTED)"
          >
          <span>Reject Request</span>
        </button>
        }

        @if(borrow.status == "REQUESTED" || borrow.status == "RETURNED"){
          <button 
          mat-menu-item
          (click)="deleteBorrow(borrow)"
          >
          <mat-icon>delete</mat-icon>
          <span>Delete Transaction</span>
        </button>
        }

        @if(borrow.status =="APPROVED"){
           <button
          mat-menu-item
          (click)="requestUpdate(borrow, borrowStatus.RETURNED)"
          >
          <span>Book Returned</span>
        </button>
        }

      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>