
.header-wrapper{
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(220, 234, 229);
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}




table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
